<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.usama.fyp_phr_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vaccination.VaccinationActivity"></activity>
        <activity android:name=".VitalSign.VitalSignsActivity" />
        <activity android:name=".Symptom.SymptomActivity" />
        <activity android:name=".SocialHistory.SocialHistoryActivity" />
        <activity android:name=".Medication.MedicationActivity" />
        <activity android:name=".Allergy.AllergyActivity" />
        <activity android:name=".Disease.DiseaseActivity" />
        <activity android:name=".User.SignUpActivity" />
        <activity android:name=".User.SignInActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>